src/pug/pages/index.pug
extends ../config/template
append config
    - NombPagina = "Fotógrafo"
prepend styles
block contenido

    //-- B A N N E R
    //--------------
    .banner#banner
        .banner__container.container
            .banner__main
                .banner__main--container
                    span.banner__line.wow.fadeIn.delay-1  Soy
                    h2.banner__title.wow.fadeInUp Daniel Apuy
                    .banner__buttons.wow.fadeInUp.delay-2 
                        +button(
                            'first-color',
                            '#about',
                            'Conóceme'
                        )
                        +button(
                            'first-color',
                            '#contact',
                            'Contáctame'
                        )
            .banner__img

    //-- A B O U T 
    //--------------
    .about.paddingY#about
        .about__container.container
            .about__img.wow.fadeInUp
            .about__main
                .about__main--container
                    h2.about__title.wow.fadeIn.delay-1  Ho
                        br
                        | la
                    .about__info
                        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat placeat magni consectetur magnam, molestiae aut neque dignissimos cum ut id, iusto facere ipsam, consequatur quibusdam? Id quis quam doloremque impedit dolorem. Delectus praesentium perspiciatis laboriosam impedit aut aperiam sequi quae dolore atque rerum! Fugit cum nemo dolore aperiam quod.
                        +button(
                            'second-color',
                            'index.html',
                            'Trabajos'
                        )

    //-- W O R K 
    //--------------
    .work.paddingY
        .work__container.container
            .work__main
                .work__main--container
                    h2.work__title.wow.fadeIn.delay-1 Tra
                        br
                        | bajos
            .work__img.wow.fadeInRight
    .gallery
        .gallery__container.container
            .gallery__item.wow.fadeInUp.delay-1 
                a(href='javascript:;' data-fancybox="" data-src="#trueModal" data-modal="true").gallery__item--link
                    img(src='public/img/work/work-1/img-banner.jpg' alt='')
                .gallery__item--info
                    h3 Lorem ipsum dolor
                    p.description Lorem ipsum dolor sit amet consectetur
            .gallery__item.wow.fadeInUp.delay-2
                a(href='javascript:;' data-fancybox="" data-src="#trueModal2" data-modal="true").gallery__item--link
                    img(src='public/img/work/work-2/img-banner.jpg' alt='')
                .gallery__item--info
                    h3 Sit amet consectetur
                    p.description Lorem ipsum dolor sit amet consectetur
            .gallery__item.wow.fadeInUp.delay-3 
                a(href='javascript:;' data-fancybox="" data-src="#trueModal3" data-modal="true").gallery__item--link
                    img(src='public/img/work/work-3/img-banner.jpg' alt='')
                .gallery__item--info
                    h3 Dolorem quasi tempore
                    p.description Lorem ipsum dolor sit amet consectetur

    //-- C O N T A C T
    //--------------  
    .contact.paddingY#contact
        .contact__container.container
            .contact__img
            .contact__main 
                .contact__main--container
                    h2.contact__title.wow.fadeIn.delay-1 Con
                        br
                        | tacto
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, deleniti.
                    form.contact__form
                        input(type='text' name='nombre' placeholder='Nombre y Apellido')
                        input(type='email' name='email' placeholder='E-mail')
                        input(type='text' name='celular' placeholder='Celular')
                        textarea(placeholder='Escríbeme tu consulta')
                        +button(
                            'first-color',
                            '#',
                            'Contáctame'
                        )


    //-- M O D A L
    //-------------- 
    .modal#trueModal.fancybox-content(style='display: none')
        .modal__container
            a(href='public/img/work/work-1/gallery-1.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-1.jpg' alt='')
            a(href='public/img/work/work-1/gallery-2.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-2.jpg' alt='')
            a(href='public/img/work/work-1/gallery-3.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-3.jpg' alt='')
            a(href='public/img/work/work-1/gallery-4.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-4.jpg' alt='')
            a(href='public/img/work/work-1/gallery-5.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-5.jpg' alt='')
            a(href='public/img/work/work-1/gallery-6.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-6.jpg' alt='')
        a.btn-close.btn.btn-primary.fas.fa-times(data-fancybox-close='')
    .modal#trueModal2.fancybox-content(style='display: none')
        .modal__container
            a(href='public/img/work/work-2/gallery-1.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-1.jpg' alt='')
            a(href='public/img/work/work-2/gallery-2.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-2.jpg' alt='')
            a(href='public/img/work/work-2/gallery-3.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-3.jpg' alt='')
            a(href='public/img/work/work-2/gallery-4.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-4.jpg' alt='')
            a(href='public/img/work/work-2/gallery-5.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-5.jpg' alt='')
            a(href='public/img/work/work-2/gallery-6.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-6.jpg' alt='')
        a.btn-close.btn.btn-primary.fas.fa-times(data-fancybox-close='')
    .modal#trueModal3.fancybox-content(style='display: none')
        .modal__container
            a(href='public/img/work/work-3/gallery-1.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-1.jpg' alt='')
            a(href='public/img/work/work-3/gallery-2.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-2.jpg' alt='')
            a(href='public/img/work/work-3/gallery-3.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-3.jpg' alt='')
            a(href='public/img/work/work-3/gallery-4.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-4.jpg' alt='')
            a(href='public/img/work/work-3/gallery-5.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-5.jpg' alt='')
            a(href='public/img/work/work-3/gallery-6.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-6.jpg' alt='')
        a.btn-close.btn.btn-primary.fas.fa-times(data-fancybox-close='')


prepend script-final

index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title> Daniel Apuy | Fotógrafo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="según el sitio">
    <link rel="icon" href="" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update6">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Daniel Apuy</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="#banner">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#about">Sobre mí</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#work">Trabajos</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#contact">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner" id="banner">
      <div class="banner__container container">
        <div class="banner__main">
          <div class="banner__main--container"><span class="banner__line wow fadeIn delay-1"> Soy</span>
            <h2 class="banner__title wow fadeInUp">Daniel Apuy</h2>
            <div class="banner__buttons wow fadeInUp delay-2"> 
              <div class="button_container"><a class="button hover-btn first-color" href="#about">Conóceme</a></div>
              <div class="button_container"><a class="button hover-btn first-color" href="#contact">Contáctame</a></div>
            </div>
          </div>
        </div>
        <div class="banner__img"></div>
      </div>
    </div>
    <div class="about paddingY" id="about">
      <div class="about__container container">
        <div class="about__img wow fadeInUp"></div>
        <div class="about__main">
          <div class="about__main--container">
            <h2 class="about__title wow fadeIn delay-1"> Ho<br>la</h2>
            <div class="about__info">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat placeat magni consectetur magnam, molestiae aut neque dignissimos cum ut id, iusto facere ipsam, consequatur quibusdam? Id quis quam doloremque impedit dolorem. Delectus praesentium perspiciatis laboriosam impedit aut aperiam sequi quae dolore atque rerum! Fugit cum nemo dolore aperiam quod.</p>
              <div class="button_container"><a class="button hover-btn second-color" href="index.html">Trabajos</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work paddingY">
      <div class="work__container container">
        <div class="work__main">
          <div class="work__main--container">
            <h2 class="work__title wow fadeIn delay-1">Tra<br>bajos</h2>
          </div>
        </div>
        <div class="work__img wow fadeInRight"></div>
      </div>
    </div>
    <div class="gallery">
      <div class="gallery__container container">
        <div class="gallery__item wow fadeInUp delay-1"> <a class="gallery__item--link" href="javascript:;" data-fancybox="" data-src="#trueModal" data-modal="true"><img src="public/img/work/work-1/img-banner.jpg" alt=""></a>
          <div class="gallery__item--info">
            <h3>Lorem ipsum dolor</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur</p>
          </div>
        </div>
        <div class="gallery__item wow fadeInUp delay-2"><a class="gallery__item--link" href="javascript:;" data-fancybox="" data-src="#trueModal2" data-modal="true"><img src="public/img/work/work-2/img-banner.jpg" alt=""></a>
          <div class="gallery__item--info">
            <h3>Sit amet consectetur</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur</p>
          </div>
        </div>
        <div class="gallery__item wow fadeInUp delay-3"> <a class="gallery__item--link" href="javascript:;" data-fancybox="" data-src="#trueModal3" data-modal="true"><img src="public/img/work/work-3/img-banner.jpg" alt=""></a>
          <div class="gallery__item--info">
            <h3>Dolorem quasi tempore</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact paddingY" id="contact">
      <div class="contact__container container">
        <div class="contact__img"></div>
        <div class="contact__main"> 
          <div class="contact__main--container">
            <h2 class="contact__title wow fadeIn delay-1">Con<br>tacto</h2>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, deleniti.</p>
            <form class="contact__form">
              <input type="text" name="nombre" placeholder="Nombre y Apellido">
              <input type="email" name="email" placeholder="E-mail">
              <input type="text" name="celular" placeholder="Celular">
              <textarea placeholder="Escríbeme tu consulta"></textarea>
              <div class="button_container"><a class="button hover-btn first-color" href="#">Contáctame</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fancybox-content" id="trueModal" style="display: none">
      <div class="modal__container"><a href="public/img/work/work-1/gallery-1.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-1/gallery-1.jpg" alt=""></a><a href="public/img/work/work-1/gallery-2.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-1/gallery-2.jpg" alt=""></a><a href="public/img/work/work-1/gallery-3.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-1/gallery-3.jpg" alt=""></a><a href="public/img/work/work-1/gallery-4.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-1/gallery-4.jpg" alt=""></a><a href="public/img/work/work-1/gallery-5.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-1/gallery-5.jpg" alt=""></a><a href="public/img/work/work-1/gallery-6.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-1/gallery-6.jpg" alt=""></a></div><a class="btn-close btn btn-primary fas fa-times" data-fancybox-close=""></a>
    </div>
    <div class="modal fancybox-content" id="trueModal2" style="display: none">
      <div class="modal__container"><a href="public/img/work/work-2/gallery-1.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-1.jpg" alt=""></a><a href="public/img/work/work-2/gallery-2.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-2.jpg" alt=""></a><a href="public/img/work/work-2/gallery-3.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-3.jpg" alt=""></a><a href="public/img/work/work-2/gallery-4.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-4.jpg" alt=""></a><a href="public/img/work/work-2/gallery-5.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-5.jpg" alt=""></a><a href="public/img/work/work-2/gallery-6.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-6.jpg" alt=""></a></div><a class="btn-close btn btn-primary fas fa-times" data-fancybox-close=""></a>
    </div>
    <div class="modal fancybox-content" id="trueModal3" style="display: none">
      <div class="modal__container"><a href="public/img/work/work-3/gallery-1.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-3/gallery-1.jpg" alt=""></a><a href="public/img/work/work-3/gallery-2.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-3/gallery-2.jpg" alt=""></a><a href="public/img/work/work-3/gallery-3.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-2/gallery-3.jpg" alt=""></a><a href="public/img/work/work-3/gallery-4.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-3/gallery-4.jpg" alt=""></a><a href="public/img/work/work-3/gallery-5.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-3/gallery-5.jpg" alt=""></a><a href="public/img/work/work-3/gallery-6.jpg" data-fancybox="images" data-caption="My caption"><img src="public/img/work/work-3/gallery-6.jpg" alt=""></a></div><a class="btn-close btn btn-primary fas fa-times" data-fancybox-close=""></a>
    </div>
    <!--include ../includes/clientes-->
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-alt.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="#banner">Inicio</a></li>
            <li class="informacion__lista--item"><a href="#about">Sobre mí</a></li>
            <li class="informacion__lista--item"><a href="#work">Trabajos</a></li>
            <li class="informacion__lista--item"><a href="#contact">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por:<a href="https://chilcanoweb.com/">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      $('.owl-carousel').owlCarousel({
          loop:true,
          margin:10,
          autoplay: true,
          nav: false,
          responsiveClass:true,
          responsive:{
          0:{
          items:1
          },
          600:{
          items:3
          },
          1000:{
          items:5
          }
          }
          })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main.js"></script>
  </body>
</html>
